.demo::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.1;
  background-image: repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000), repeating-linear-gradient(45deg, #000000 25%, #ffffff 25%, #ffffff 75%, #000000 75%, #000000);
  background-position: 0 0, 21px 21px;
  background-size: 42px 42px;
  z-index: -1;
}

.demo {
  display: flex;
  padding: 1em;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 200px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.1);
  margin-right: 1em;
  height: fit-content;
}

.playback {
  display: flex;
  gap: 0.5rem;
  font-size: 18px;
}

.controls label {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: 14px;
}

.__transparent-video__ {
  outline: 1px solid gray;
  border-radius: 0.5rem;
  outline-offset: -1px;
}
